<template>
  <div>
      <div v-for="question in questions" v-bind:key="question.index" >
          <h5><b>{{question.quest}}</b></h5>
          <div v-if="question.checked == question.correct"><b>Your Answer: </b><font color="green"> {{question.checked}} </font></div>
          <div v-if="question.checked != question.correct"> 
              <div><b>Correct Answer:</b> <i>{{question.correct}}</i> <br> <b>Your Answer:</b> <font color="red">{{question.checked}} </font></div>
          </div>
          <hr>
      </div>
  </div>
</template>

<script>
export default {
    props: {
        questions: {},
    }
};
</script>
