<template>
<div class="col d-flex justify-content-center">
  <div class="card" style="width:700px height:700px">
      <div class=card-body>
    <h5 class="card-title">{{htmlDecode(question)}}</h5>
    
      {{gatherAndShuffleAnswers()}}
      <div v-for="questions in answers" :key="questions.index">
        <input type="radio" name="questions" class="questions" :value="questions" />
        {{questions}}
        <br/>
      </div>
      <br/>
      <button class="btn btn-outline-success" @click="submitAnswer">Submit</button>
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: {
    question: String,
    type: String,
    correct_answer: String,
    incorrect_answers: {}
  },
  data() {
    return {
      answers: []
    };
  },
  methods: {
    htmlDecode(input) {
      var doc = new DOMParser().parseFromString(input, "text/html");
      return doc.documentElement.textContent;
    },
    shuffleAnswers() {
      for (let i = this.answers.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [this.answers[i], this.answers[j]] = [this.answers[j], this.answers[i]];
      }
    },
    gatherAndShuffleAnswers() {
      if (this.type == "boolean" && this.answers.length < 2) {
        this.answers.push(this.htmlDecode(this.correct_answer));
        this.answers.push(this.htmlDecode(this.incorrect_answers[0]));
      } else if (this.type == "multiple" && this.answers.length < 4) {
        this.answers.push(this.htmlDecode(this.correct_answer));
        this.answers.push(this.htmlDecode(this.incorrect_answers[0]));
        this.answers.push(this.htmlDecode(this.incorrect_answers[1]));
        this.answers.push(this.htmlDecode(this.incorrect_answers[2]));
        
      }
      let buttons = document.getElementsByClassName("questions");
      for(let i = 0; i < buttons.length; i++) {
            if (buttons[i].checked === true)
            buttons[i].checked = false;
        }

        this.shuffleAnswers();
    },
    submitAnswer() {
      let checkedAnswer = document.querySelector('[name="questions"]:checked');
      if (checkedAnswer != undefined) {
      this.answers = [];
      const quest = this.htmlDecode(this.question);
      const checked = checkedAnswer._value;
      const correct = this.correct_answer;
      const incorrect = this.incorrect_answers;
      if (this.htmlDecode(checkedAnswer._value) == this.htmlDecode(this.correct_answer)) {
        this.$emit("submitted", { quest, checked, correct, incorrect }, true);
      } else {
        this.$emit("submitted", { quest, checked, correct, incorrect }, false);
      }
    }
    }
  },
  created() {
    this.gatherAndShuffleAnswers();
  }
};
</script>
