<template>
  <div id="app">
    <div class="col d-flex justify-content-center">
      <div>
        <img style="height:auto" src="./assets/logo.png" />
      </div>
    </div>
    <hr />
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  created() {
    this.$router.push("/");
  }
};
</script>

<style>
#app {
  height: 100%;
  width: 100%;
  background: url("https://vips.org/wp-content/uploads/2018/09/question-background.png");
  background-repeat: repeat;
  background-size: cover;
  color: #2c3e50;;
  text-align: center;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #2c3e50;;
}
</style>
